# MongoDB 连接字符串
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/database?appName=appname

# 运行环境
NODE_ENV=development

# 服务端口
PORT=3000

# 监听地址
HOST=0.0.0.0

# S3 存储配置
S3_REGION=ap-southeast-1
S3_ACCESS_KEY_ID=your_access_key_id
S3_SECRET_ACCESS_KEY=your_secret_access_key
S3_BUCKET_NAME=your-bucket-name
S3_ENDPOINT=https://s3.ap-southeast-1.qiniucs.com  # 可选，用于兼容 S3 的服务（如 MinIO）
S3_FORCE_PATH_STYLE=true  # 可选，用于兼容 S3 的服务
# S3_BASE_URL=https://your-cdn-domain.com  # 可选，CDN 或自定义域名前缀